<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DroperBoxer</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <h1>File Upload</h1>
    <form
      id="upload-form"
      action="/upload"
      method="post"
      enctype="multipart/form-data"
    >
      <label for="file">Choose file:</label>
      <input type="file" id="file" name="file" />
      <button type="submit">Upload</button>
    </form>

    <h2>Files List</h2>
    <ul id="files-list"></ul>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const form = document.getElementById("upload-form");
        const fileList = document.getElementById("files-list");

        form.addEventListener("submit", function (event) {
          event.preventDefault();
          const formData = new FormData(form);
          fetch("/upload", {
            method: "POST",
            body: formData,
          })
            .then((response) => response.text())
            .then((data) => {
              alert(data);
              updateFilesList();
            })
            .catch((error) => console.error("Error:", error));
        });

        function updateFilesList() {
          fetch("/list")
            .then((response) => response.json())
            .then((files) => {
              fileList.innerHTML = "";
              files.forEach((file) => {
                const li = document.createElement("li");
                li.textContent = file;
                fileList.appendChild(li);
              });
            })
            .catch((error) =>
              console.error("Error fetching files list:", error)
            );
        }

        updateFilesList();
      });
    </script>
  </body>
</html>
