<!DOCTYPE html>
<html>
  <head>
    <title>ЗПБыстро</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h4>ЗПБыстро</h4>

      <img src="/static/money.webp" width="400px" />
      <div class="mt-2">
        <span>
          
        </span>
      </div>
      <div class="mt-4">
        <pre>{{ salary_xml }}</pre>

      </div>
      <a href="/download/{{ddid}}" class="href">Скачать файл для бухгалтерии</a>
    </div>
  </body>
</html>
